fastapi
uvicorn
requests
pydantic
rdkit-pypi
z3-solver
qiskit
qiskit-aer
qiskit-nature
langchain
openai
chromadb
tiktoken
python-dotenv
numpy<2.0.0
onnxruntime==1.18.1
bcrypt
langchain-openai
langchain-community
